.dashboard-before-login-child,
.dashboard-before-login-inner,
.dashboard-before-login-item,
.rectangle-div {
    position: absolute;
    top: 6.85rem;
    left: 0.38rem;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslategray);
    width: 18.13rem;
    height: 13.35rem;
}
.dashboard-before-login-inner,
.dashboard-before-login-item,
.rectangle-div {
    top: 20.61rem;
    height: 18.14rem;
}
.dashboard-before-login-inner,
.rectangle-div {
    top: 39.14rem;
    height: 10.76rem;
}
.rectangle-div {
    top: 50.3rem;
    height: 13.35rem;
}
.terms-of-service {
    position: absolute;
    top: 55.28rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 8.64rem;
    height: 1.79rem;
}
.dashboard-before-login-child1 {
    position: absolute;
    top: 45.92rem;
    left: 1.58rem;
    border-radius: var(--br-14xl);
    background-color: var(--color-white);
    width: 15.54rem;
    height: 3.19rem;
}
.new-playlist {
    position: absolute;
    top: 46.63rem;
    left: 6.31rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-black);
    display: inline-block;
    width: 6.39rem;
    height: 1.79rem;
}
.home,
.menu,
.my-library {
    position: absolute;
    top: 7.85rem;
    left: 1.58rem;
    font-size: var(--font-size-3xl);
    display: inline-block;
    width: 3.97rem;
    height: 2.39rem;
}
.home,
.my-library {
    top: 11.56rem;
    left: 4.5rem;
    width: 4.14rem;
}
.my-library {
    top: 16rem;
    width: 7.08rem;
}
.line-div {
    position: absolute;
    top: 9.05rem;
    left: 7.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 8.9rem;
    height: 0.03rem;
}
.line-div-2 {
    position: absolute;
    top: 23.1rem;
    left: 8.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 7.9rem;
    height: 0.03rem;
}
.browse {
    position: absolute;
    top: 22rem;
    left: 1.56rem;
    font-size: var(--font-size-3xl);
    display: inline-block;
    width: 5.01rem;
    height: 2.39rem;
}
.line-icon {
    position: absolute;
    top: 23.16rem;
    left: 8.06rem;
    width: 7.86rem;
    height: 0.03rem;
}
.artists {
    top: 25.81rem;
    left: 4.5rem;
    font-size: var(--font-size-3xl);
    width: 4.32rem;
    height: 2.39rem;
}
.artists,
.create-your-own,
.no-playlist-now {
    position: absolute;
    display: inline-block;
}
.no-playlist-now {
    top: 40.54rem;
    left: 1.58rem;
    font-size: var(--font-size-3xl);
    color: var(--color-snow);
    width: 10.71rem;
    height: 2.39rem;
}
.create-your-own {
    top: 42.93rem;
    width: 12.61rem;
}
.create-your-own,
.privacy-policy,
.triangle-user-aggrement {
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    height: 1.79rem;
}
.triangle-user-aggrement {
    position: absolute;
    top: 57.28rem;
    display: inline-block;
    width: 12.95rem;
}
.privacy-policy {
    top: 59.27rem;
    width: 7.08rem;
}
.albums,
.playlists,
.privacy-policy,
.triangle {
    position: absolute;
    display: inline-block;
}
.triangle {
    top: 61.26rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    width: 12.95rem;
    height: 1.79rem;
}
.albums,
.playlists {
    top: 30.19rem;
    left: 4.5rem;
    font-size: var(--font-size-3xl);
    width: 5.35rem;
    height: 2.39rem;
}
.playlists {
    top: 35rem;
    width: 5.53rem;
}
.dashboard-before-login-child2,
.dashboard-before-login-child3 {
    position: absolute;
    top: 6.67rem;
    left: 19.18rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    width: 0.52rem;
    height: 56.8rem;
}
.dashboard-before-login-child3 {
    background-color: var(--color-gray-100);
    height: 46.64rem;
}
.medium-icons,
.music-library-icon {
    position: absolute;
    top: 11.44rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.music-library-icon {
    top: 30.19rem;
}
.copyright-icon,
.music-library-icon1,
.playlist-icon {
    position: absolute;
    top: 61.06rem;
    left: 1.58rem;
    width: 1.73rem;
    height: 1.99rem;
    object-fit: cover;
}
.music-library-icon1,
.playlist-icon {
    top: 16.02rem;
    width: 2.38rem;
    height: 2.38rem;
}
.playlist-icon {
    top: 35rem;
    left: 1.56rem;
}
.facebook-f-icon,
.gmail-logo-icon,
.instagram-icon,
.twitter-icon,
.youtube-icon {
    position: absolute;
    top: 51.13rem;
    left: 2.5rem;
    width: 2.19rem;
    height: 2.19rem;
    object-fit: cover;
}
.facebook-f-icon,
.gmail-logo-icon,
.twitter-icon,
.youtube-icon {
    left: 5.44rem;
}
.gmail-logo-icon,
.twitter-icon,
.youtube-icon {
    left: 8.37rem;
}
.gmail-logo-icon,
.youtube-icon {
    left: 11.31rem;
}
.gmail-logo-icon {
    left: 14.24rem;
}
.dashboard-before-login-child4,
.dashboard-before-login-child5 {
    position: absolute;
    top: 0.89rem;
    left: 74.1rem;
    border-radius: var(--br-14xl);
    background-color: var(--color-white);
    width: 13.47rem;
    height: 3.99rem;
}
.dashboard-before-login-child5 {
    left: 59.77rem;
}
.sign-up {
    top: 1.29rem;
    left: 62.88rem;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    width: 7.25rem;
    height: 3.39rem;
}
.log-in,
.sign-up,
.triangle-top-charts {
    position: absolute;
    display: inline-block;
}
.log-in {
    top: 1.29rem;
    left: 78.07rem;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    width: 5.53rem;
    height: 3.39rem;
}
.triangle-top-charts {
    top: 7.31rem;
    left: 21.63rem;
    font-size: var(--font-size-14xl);
    font-weight: 500;
    width: 20.55rem;
    height: 3.59rem;
}
.rectangle-icon {
    position: absolute;
    top: 10.85rem;
    left: 21.77rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child6,
.dashboard-before-login-child7,
.dashboard-before-login-child8,
.dashboard-before-login-child9 {
    position: absolute;
    top: 10.85rem;
    left: 35.24rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child7,
.dashboard-before-login-child8,
.dashboard-before-login-child9 {
    left: 48.71rem;
}
.dashboard-before-login-child8,
.dashboard-before-login-child9 {
    left: 62.19rem;
}
.dashboard-before-login-child9 {
    left: 75.66rem;
}
.dangdut,
.show-all {
    position: absolute;
    top: 7.86rem;
    left: 83.25rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 4.49rem;
    height: 1.79rem;
}
.dangdut {
    top: 29.06rem;
    left: 21.75rem;
    font-size: var(--font-size-14xl);
    font-weight: 500;
    width: 9.15rem;
    height: 3.59rem;
}
.dashboard-before-login-child10 {
    position: absolute;
    top: 32.58rem;
    left: 21.6rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child11,
.dashboard-before-login-child12,
.dashboard-before-login-child13,
.dashboard-before-login-child14 {
    position: absolute;
    top: 32.58rem;
    left: 35.07rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child12,
.dashboard-before-login-child13,
.dashboard-before-login-child14 {
    left: 48.54rem;
}
.dashboard-before-login-child13,
.dashboard-before-login-child14 {
    left: 62.01rem;
}
.dashboard-before-login-child14 {
    left: 75.48rem;
}
.nostalgia,
.show-all1 {
    position: absolute;
    top: 29.59rem;
    left: 83.08rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 4.49rem;
    height: 1.79rem;
}
.nostalgia {
    top: 50.63rem;
    left: 21.75rem;
    font-size: var(--font-size-14xl);
    font-weight: 500;
    width: 10.02rem;
    height: 3.59rem;
}
.dashboard-before-login-child15 {
    position: absolute;
    top: 54.3rem;
    left: 21.77rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child16,
.dashboard-before-login-child17,
.dashboard-before-login-child18,
.dashboard-before-login-child19 {
    position: absolute;
    top: 54.3rem;
    left: 35.24rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-before-login-child17,
.dashboard-before-login-child18,
.dashboard-before-login-child19 {
    left: 48.71rem;
}
.dashboard-before-login-child18,
.dashboard-before-login-child19 {
    left: 62.19rem;
}
.dashboard-before-login-child19 {
    left: 75.66rem;
}
.show-all2 {
    position: absolute;
    top: 51.31rem;
    left: 83.25rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 4.49rem;
    height: 1.79rem;
}
.all-out-2010s,
.rapcaviar,
.todays-top-hits {
    position: absolute;
    top: 22.94rem;
    left: 21.75rem;
    font-weight: 600;
    display: inline-block;
    width: 10.19rem;
    height: 2.19rem;
}
.all-out-2010s,
.rapcaviar {
    left: 35.25rem;
    width: 6.56rem;
}
.all-out-2010s {
    left: 48.69rem;
    width: 7.77rem;
}
.abiem-ngesti,
.bojo-loro,
.chill-hits,
.denny-caknan,
.hip-hop-dangdut,
.rock-classics,
.sambalado {
    position: absolute;
    top: 22.94rem;
    left: 62.16rem;
    font-weight: 600;
    display: inline-block;
    width: 8.46rem;
    height: 2.19rem;
}
.abiem-ngesti,
.bojo-loro,
.chill-hits,
.denny-caknan,
.hip-hop-dangdut,
.sambalado {
    left: 75.63rem;
    width: 5.53rem;
}
.abiem-ngesti,
.bojo-loro,
.denny-caknan,
.hip-hop-dangdut,
.sambalado {
    top: 44.63rem;
    left: 21.75rem;
    width: 9.15rem;
}
.abiem-ngesti,
.bojo-loro,
.hip-hop-dangdut,
.sambalado {
    left: 35.22rem;
    width: 7.25rem;
}
.abiem-ngesti,
.bojo-loro,
.hip-hop-dangdut {
    left: 48.69rem;
    width: 8.29rem;
}
.bojo-loro,
.hip-hop-dangdut {
    left: 62.16rem;
    width: 5.7rem;
}
.hip-hop-dangdut {
    left: 75.63rem;
    width: 10.53rem;
}
.dashboard-before-login-child20,
.dashboard-before-login-child21 {
    position: absolute;
    top: 6.67rem;
    left: 88.61rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    width: 0.52rem;
    height: 56.8rem;
}
.dashboard-before-login-child21 {
    background-color: var(--color-gray-100);
    height: 25.71rem;
}
.musician-male-icon{
    position: absolute;
    top: 25.81rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.sort-down-parent {
    position: absolute;
    top: 1.06rem;
    left: 2.19rem;
    width: 15.69rem;
    height: 3.96rem;
}
.dashboard-before-login {
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-lgi);
    color: var(--color-white);
    font-family: var(--font-poppins);
}
