.terms-of-service {
    position: absolute;
    top: 17.75rem;
    left: 0.63rem;
    font-size: 0.38rem;
    color: var(--color-snow);
    display: none;
}
.welcome-joko-widodo {
    position: absolute;
    top: 1.44rem;
    left: 21.75rem;
    font-size: var(--font-size-14xl);
    display: inline-block;
    width: 24.18rem;
    height: 3.57rem;
}
.dashboard-after-login-child {
    position: absolute;
    top: 1.44rem;
    left: 61.81rem;
    border-radius: var(--br-14xl);
    background-color: var(--color-darkslategray);
    width: 21.41rem;
    height: 3.57rem;
}
.artist-music-album {
    position: absolute;
    top: 2.38rem;
    left: 66.19rem;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 12.26rem;
    height: 1.79rem;
}
.dashboard-after-login-item {
    position: absolute;
    top: 1.44rem;
    left: 84.19rem;
    border-radius: 50%;
    width: 3.56rem;
    height: 3.56rem;
    object-fit: cover;
}
.for-you,
.recommended-artists {
    position: absolute;
    top: 25.67rem;
    left: 21.77rem;
    font-size: var(--font-size-14xl);
    font-weight: 500;
    display: inline-block;
    width: 7.77rem;
    height: 3.57rem;
}
.recommended-artists {
    top: 47.29rem;
    width: 23.31rem;
}
.dashboard-after-login-inner {
    position: absolute;
    top: 13.58rem;
    left: 42.5rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-dimgray);
    width: 20.69rem;
    height: 6.94rem;
    transform: rotate(180deg);
    transform-origin: 0 0;
}
.liked-songs {
    position: absolute;
    top: 8.94rem;
    left: 29.56rem;
    display: inline-block;
    width: 8.46rem;
    height: 2.38rem;
}
.dashboard-after-login-child1,
.dashboard-after-login-child2,
.dashboard-after-login-child3,
.rectangle-div {
    position: absolute;
    top: 22.1rem;
    left: 65.12rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-dimgray);
    width: 20.69rem;
    height: 6.94rem;
    transform: rotate(180deg);
    transform-origin: 0 0;
}
.dashboard-after-login-child1,
.dashboard-after-login-child2,
.dashboard-after-login-child3 {
    top: 22.5rem;
    left: 87.57rem;
}
.dashboard-after-login-child2,
.dashboard-after-login-child3 {
    left: 42.5rem;
}
.dashboard-after-login-child3 {
    top: 13.38rem;
    left: 65.12rem;
}
.dj-tiktok-viral,
.lagu-90an-terbaik,
.spanish-vibes {
    position: absolute;
    top: 17.81rem;
    left: 29.56rem;
    display: inline-block;
    width: 10.19rem;
    height: 2.38rem;
}
.dj-tiktok-viral,
.lagu-90an-terbaik {
    top: 8.75rem;
    left: 52.19rem;
}
.lagu-90an-terbaik {
    top: 16.25rem;
    width: 11.57rem;
    height: 4.76rem;
}
.dashboard-after-login-child4 {
    position: absolute;
    top: 13.58rem;
    left: 87.57rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-dimgray);
    width: 20.69rem;
    height: 6.94rem;
    transform: rotate(180deg);
    transform-origin: 0 0;
}
.kopikustik,
.mellow-lofi {
    position: absolute;
    top: 8.94rem;
    left: 74.56rem;
    display: inline-block;
    width: 7.6rem;
    height: 2.38rem;
}
.mellow-lofi {
    top: 17.81rem;
}
.dashboard-after-login-child5,
.rectangle-icon {
    position: absolute;
    top: 29.84rem;
    left: 21.77rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-after-login-child5 {
    top: 51.06rem;
}
.dashboard-after-login-child6,
.dashboard-after-login-child7,
.dashboard-after-login-child8,
.dashboard-after-login-child9 {
    position: absolute;
    top: 51.06rem;
    left: 35.25rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-after-login-child7,
.dashboard-after-login-child8,
.dashboard-after-login-child9 {
    left: 48.71rem;
}
.dashboard-after-login-child8,
.dashboard-after-login-child9 {
    left: 62.19rem;
}
.dashboard-after-login-child9 {
    left: 75.66rem;
}
.dashboard-after-login-child10,
.dashboard-after-login-child11,
.dashboard-after-login-child12,
.dashboard-after-login-child13 {
    position: absolute;
    top: 29.84rem;
    left: 35.24rem;
    border-radius: var(--br-mini);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.dashboard-after-login-child11,
.dashboard-after-login-child12,
.dashboard-after-login-child13 {
    left: 48.71rem;
}
.dashboard-after-login-child12,
.dashboard-after-login-child13 {
    left: 62.19rem;
}
.dashboard-after-login-child13 {
    left: 75.66rem;
}
.show-all,
.show-all1 {
    position: absolute;
    top: 26.86rem;
    left: 83.25rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    display: inline-block;
    width: 4.49rem;
    height: 1.79rem;
}
.show-all1 {
    top: 47.69rem;
}
.dashboard-after-login-child14,
.dashboard-after-login-child15 {
    position: absolute;
    top: 6.64rem;
    left: 88.61rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    width: 0.52rem;
    height: 56.52rem;
}
.dashboard-after-login-child15 {
    background-color: var(--color-gray-100);
    height: 25.58rem;
}
.dashboard-after-login-child16 {
    position: absolute;
    top: 6.64rem;
    left: 21.77rem;
    border-radius: var(--br-8xs) 0 0 var(--br-8xs);
    background: linear-gradient(102.84deg, #f155e3, rgba(212, 171, 209, 0.8));
    width: 6.39rem;
    height: 6.94rem;
}
.love-icon {
    position: absolute;
    top: 8.62rem;
    left: 23.67rem;
    width: 2.59rem;
    height: 2.97rem;
    object-fit: cover;
}
.ab67616d0000b273b8bb53178facab-icon {
    position: absolute;
    top: 15.56rem;
    left: 21.77rem;
    border-radius: var(--br-8xs) 0 0 var(--br-8xs);
    width: 6.43rem;
    height: 6.94rem;
    object-fit: cover;
}
.ab67616d0000b273b8bb53178facab-icon1,
.ab67616d0000b273b8bb53178facab-icon2,
.ab67616d0000b273b8bb53178facab-icon3,
.ab67616d0000b273b8bb53178facab-icon4 {
    position: absolute;
    top: 6.44rem;
    left: 44.4rem;
    border-radius: var(--br-8xs) 0 0 var(--br-8xs);
    width: 6.43rem;
    height: 6.94rem;
    object-fit: cover;
}
.ab67616d0000b273b8bb53178facab-icon2,
.ab67616d0000b273b8bb53178facab-icon3,
.ab67616d0000b273b8bb53178facab-icon4 {
    top: 15.16rem;
}
.ab67616d0000b273b8bb53178facab-icon3,
.ab67616d0000b273b8bb53178facab-icon4 {
    top: 6.64rem;
    left: 66.85rem;
}
.ab67616d0000b273b8bb53178facab-icon4 {
    top: 15.56rem;
}
.blackpink,
.generasi-galau,
.james-arthur,
.rumah-singgah,
.viral-hits {
    position: absolute;
    top: 41.88rem;
    left: 21.75rem;
    font-size: var(--font-size-lgi);
    font-weight: 600;
    display: inline-block;
    width: 8.46rem;
    height: 2.18rem;
}
.blackpink,
.generasi-galau,
.rumah-singgah,
.viral-hits {
    top: 41.91rem;
    left: 35.23rem;
    width: 9.67rem;
}
.blackpink,
.rumah-singgah,
.viral-hits {
    left: 48.66rem;
    width: 5.53rem;
}
.blackpink,
.rumah-singgah {
    left: 62.16rem;
    width: 10.02rem;
}
.blackpink {
    left: 75.6rem;
    width: 6.74rem;
}
.search-icon,
.sort-down-icon {
    position: absolute;
    top: 2rem;
    left: 62.38rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
.sort-down-parent {
    position: absolute;
    top: 1.06rem;
    left: 2.19rem;
    width: 15.69rem;
    height: 3.96rem;
}
.dashboard-after-login-child17,
.dashboard-after-login-child18,
.dashboard-after-login-child19,
.dashboard-after-login-child20 {
    position: absolute;
    top: 6.85rem;
    left: 0.38rem;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslategray);
    width: 18.13rem;
    height: 13.35rem;
}
.dashboard-after-login-child18,
.dashboard-after-login-child19,
.dashboard-after-login-child20 {
    top: 20.61rem;
    height: 18.14rem;
}
.dashboard-after-login-child19,
.dashboard-after-login-child20 {
    top: 39.14rem;
    height: 10.76rem;
}
.dashboard-after-login-child20 {
    top: 50.3rem;
    height: 13.35rem;
}
.terms-of-service1 {
    position: absolute;
    top: 55.28rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 8.64rem;
    height: 1.79rem;
}
.dashboard-after-login-child21 {
    position: absolute;
    top: 45.92rem;
    left: 1.58rem;
    border-radius: var(--br-14xl);
    background-color: var(--color-white);
    width: 15.54rem;
    height: 3.19rem;
}
.new-playlist {
    position: absolute;
    top: 46.63rem;
    left: 6.31rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 6.39rem;
    height: 1.79rem;
}
.home,
.menu,
.my-library {
    position: absolute;
    top: 7.85rem;
    left: 1.58rem;
    display: inline-block;
    width: 3.97rem;
    height: 2.39rem;
}
.home,
.my-library {
    top: 11.56rem;
    left: 4.5rem;
    width: 4.14rem;
}
.my-library {
    top: 16rem;
    width: 7.08rem;
}
.line-div {
    position: absolute;
    top: 9.05rem;
    left: 7.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 8.9rem;
    height: 0.03rem;
}
.line-div-2 {
    position: absolute;
    top: 23.16rem;
    left: 8.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 7.9rem;
    height: 0.03rem;
}
.browse {
    position: absolute;
    top: 22rem;
    left: 1.56rem;
    display: inline-block;
    width: 5.01rem;
    height: 2.39rem;
}
.line-icon {
    position: absolute;
    top: 23.16rem;
    left: 8.06rem;
    width: 7.86rem;
    height: 0.03rem;
}
.artists {
    top: 25.81rem;
    left: 4.5rem;
    width: 4.32rem;
    height: 2.39rem;
}
.artists,
.create-your-own,
.no-playlist-now {
    position: absolute;
    display: inline-block;
}
.no-playlist-now {
    top: 40.54rem;
    left: 1.58rem;
    color: var(--color-snow);
    width: 10.71rem;
    height: 2.39rem;
}
.create-your-own {
    top: 42.93rem;
    width: 12.61rem;
}
.create-your-own,
.privacy-policy,
.triangle-user-aggrement {
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    height: 1.79rem;
}
.triangle-user-aggrement {
    position: absolute;
    top: 57.28rem;
    display: inline-block;
    width: 12.95rem;
}
.privacy-policy {
    top: 59.27rem;
    width: 7.08rem;
}
.albums,
.playlists,
.privacy-policy,
.triangle {
    position: absolute;
    display: inline-block;
}
.triangle {
    top: 61.26rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    width: 12.95rem;
    height: 1.79rem;
}
.albums,
.playlists {
    top: 30.19rem;
    left: 4.5rem;
    width: 5.35rem;
    height: 2.39rem;
}
.playlists {
    top: 35rem;
    width: 5.53rem;
}
.dashboard-after-login-child22,
.dashboard-after-login-child23 {
    position: absolute;
    top: 6.67rem;
    left: 19.18rem;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro);
    width: 0.52rem;
    height: 56.8rem;
}
.dashboard-after-login-child23 {
    background-color: var(--color-gray-100);
    height: 46.64rem;
}
.copyright-icon,
.medium-icons,
.music-library-icon {
    position: absolute;
    top: 11.44rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.copyright-icon,
.music-library-icon {
    top: 30.19rem;
}
.copyright-icon {
    top: 61.06rem;
    left: 1.58rem;
    width: 1.73rem;
    height: 1.99rem;
}
.instagram-icon,
.music-library-icon1,
.playlist-icon {
    position: absolute;
    top: 16.02rem;
    left: 1.58rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.instagram-icon,
.playlist-icon {
    top: 35rem;
    left: 1.56rem;
}
.instagram-icon {
    top: 51.13rem;
    left: 2.5rem;
    width: 2.19rem;
    height: 2.19rem;
}
.facebook-f-icon,
.gmail-logo-icon,
.musician-male-icon,
.twitter-icon,
.youtube-icon {
    position: absolute;
    top: 51.13rem;
    left: 5.44rem;
    width: 2.19rem;
    height: 2.19rem;
    object-fit: cover;
}
.gmail-logo-icon,
.musician-male-icon,
.twitter-icon,
.youtube-icon {
    left: 8.37rem;
}
.gmail-logo-icon,
.musician-male-icon,
.youtube-icon {
    left: 11.31rem;
}
.gmail-logo-icon,
.musician-male-icon {
    left: 14.24rem;
}
.musician-male-icon {
    top: 25.81rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
}
.dashboard-after-login {
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}
