.profile-child {
    position: absolute;
    top: 4.94rem;
    left: 2.75rem;
    border-radius: 50%;
    width: 15.88rem;
    height: 17.38rem;
    object-fit: cover;
}
.joko-widodo,
.profile-item {
    position: absolute;
    left: 23rem;
}
.joko-widodo {
    top: 9.44rem;
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;
    width: 23.44rem;
    height: 5.81rem;
}
.profile-item {
    top: 16.25rem;
    border-radius: 33px;
    background-color: var(--color-white);
    width: 15.88rem;
    height: 3.88rem;
}
.edit-profile {
    position: absolute;
    top: 16.75rem;
    left: 26.5rem;
    font-size: 1.75rem;
    color: #000;
    display: inline-block;
    width: 8.94rem;
    height: 2.94rem;
}
.profile-child1,
.profile-inner,
.rectangle-div {
    position: absolute;
    top: 25.63rem;
    left: 1.88rem;
    border-radius: var(--br-8xs);
    background: linear-gradient(180deg, rgba(241, 85, 227, 0.99), #83287b);
    width: 27.63rem;
    height: 13.06rem;
}
.profile-child1,
.rectangle-div {
    left: 30.44rem;
}
.profile-child1 {
    left: 58.94rem;
    width: 27.69rem;
}
.playlists {
    position: absolute;
    top: 31.69rem;
    left: 10.06rem;
    display: inline-block;
    width: 11.25rem;
    height: 4.69rem;
}
.div,
.div1,
.div2,
.followers,
.following {
    position: absolute;
    top: 31.88rem;
    left: 38.31rem;
    display: inline-block;
    width: 13.38rem;
    height: 2.94rem;
}
.div,
.div1,
.div2,
.following {
    top: 31.69rem;
    left: 66rem;
    width: 13.56rem;
}
.div,
.div1,
.div2 {
    top: 27.63rem;
    left: 15.13rem;
    width: 1.06rem;
    height: 4.69rem;
}
.div1,
.div2 {
    top: 27.06rem;
    left: 44.25rem;
    height: 4.63rem;
}
.div2 {
    left: 71.88rem;
}
.profile-child2,
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6,
.rectangle-icon {
    position: absolute;
    top: 44.88rem;
    left: 2.25rem;
    border-radius: var(--br-8xs);
    width: 12.06rem;
    height: 12.06rem;
    object-fit: cover;
}
.profile-child2,
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6 {
    left: 15.94rem;
}
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6 {
    left: 29.69rem;
}
.profile-child4,
.profile-child5,
.profile-child6 {
    left: 43.44rem;
}
.profile-child5,
.profile-child6 {
    left: 57.19rem;
}
.profile-child6 {
    left: 70.94rem;
}
.ghea-indrawari {
    position: absolute;
    top: 56.94rem;
    left: 1.88rem;
    font-size: var(--font-size-lgi);
    font-weight: 600;
    display: inline-block;
    width: 9.5rem;
    height: 2.13rem;
}
.bruno-mars,
.james-arthur {
    position: absolute;
    text-align: center;
    display: inline-block;
}
.james-arthur {
    top: 56.94rem;
    left: 15.88rem;
    font-size: var(--font-size-lgi);
    font-weight: 600;
    width: 8.31rem;
    height: 2.13rem;
}
.bruno-mars {
    left: 29.69rem;
    width: 7rem;
}
.bruno-mars,
.fourtwnty,
.taylor-swift {
    top: 56.94rem;
    font-size: var(--font-size-lgi);
    font-weight: 600;
    height: 2.13rem;
}
.fourtwnty {
    position: absolute;
    left: 43.44rem;
    text-align: center;
    display: inline-block;
    width: 6.13rem;
}
.taylor-swift {
    left: 57.19rem;
    width: 7.06rem;
}
.blackpink,
.my-favorite-artist,
.taylor-swift {
    position: absolute;
    display: inline-block;
}
.blackpink {
    top: 56.94rem;
    left: 70.63rem;
    font-size: var(--font-size-lgi);
    font-weight: 600;
    text-align: center;
    width: 7.25rem;
    height: 2.13rem;
}
.my-favorite-artist {
    top: 40.63rem;
    left: 2.25rem;
    font-size: 2.06rem;
    width: 17.94rem;
    height: 3.5rem;
}
.profile-child7,
.profile-child8 {
    position: absolute;
    top: 7.06rem;
    left: 87.69rem;
    border-radius: var(--br-8xs);
    background-color: #d9d9d9;
    width: 0.5rem;
    height: 55.56rem;
}
.profile-child8 {
    background-color: #888;
    height: 25.19rem;
}
.ellipse-icon {
    position: absolute;
    top: 1.44rem;
    left: 84.19rem;
    border-radius: 50%;
    width: 3.56rem;
    height: 3.56rem;
    object-fit: cover;
}
.profile {
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-26xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}
