.you-can-free {
    margin: 0;
}
.jokwid123gmailcom,
.you-can-free-container {
    position: absolute;
    top: 35.56rem;
    left: 22rem;
    display: inline-block;
    width: 33.88rem;
    height: 4.75rem;
}
.jokwid123gmailcom {
    top: 25.13rem;
    left: 59.88rem;
    font-size: var(--font-size-14xl);
    color: rgba(255, 255, 255, 0.5);
    width: 23.19rem;
    height: 3.56rem;
}
.setting-child {
    position: absolute;
    top: 16.81rem;
    left: 59.88rem;
    border-radius: 2px;
    background-color: #4f4f4f;
    width: 25.5rem;
    height: 3.75rem;
}
.setting-item {
    position: absolute;
    top: 44.44rem;
    left: 22rem;
    border-radius: 8px;
    background-color: var(--color-mediumorchid);
    width: 11.88rem;
    height: 5.13rem;
}
.english {
    position: absolute;
    top: 17.06rem;
    left: 62rem;
    font-size: 1.31rem;
    display: inline-block;
    width: 6.75rem;
    height: 3.31rem;
}
.clear-cache,
.email,
.language,
.logout,
.settings {
    position: absolute;
    left: 22rem;
    font-weight: 600;
    display: inline-block;
}
.settings {
    top: 6.63rem;
    font-size: 2.44rem;
    width: 10.31rem;
    height: 4.13rem;
}
.clear-cache,
.email,
.language,
.logout {
    top: 16.81rem;
    font-size: var(--font-size-14xl);
    width: 10.81rem;
    height: 3.56rem;
}
.clear-cache,
.email,
.logout {
    top: 25.13rem;
    width: 5.94rem;
}
.clear-cache,
.logout {
    top: 32.81rem;
    width: 12.94rem;
}
.logout {
    top: 45.19rem;
    left: 24.25rem;
    width: 7.38rem;
}
.sort-down-parent {
    position: absolute;
    top: 1.06rem;
    left: 2.19rem;
    width: 15.69rem;
    height: 3.96rem;
}
.rectangle-div,
.setting-child1,
.setting-child2,
.setting-inner {
    position: absolute;
    top: 6.85rem;
    left: 0.38rem;
    border-radius: var(--br-mini);
    background-color: var(--color-darkslategray);
    width: 18.13rem;
    height: 13.35rem;
}
.rectangle-div,
.setting-child1,
.setting-child2 {
    top: 20.61rem;
    height: 18.14rem;
}
.setting-child1,
.setting-child2 {
    top: 39.14rem;
    height: 10.76rem;
}
.setting-child2 {
    top: 50.3rem;
    height: 13.35rem;
}
.terms-of-service {
    position: absolute;
    top: 55.28rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 8.64rem;
    height: 1.79rem;
}
.setting-child3 {
    position: absolute;
    top: 45.92rem;
    left: 1.58rem;
    border-radius: 33px;
    background-color: var(--color-white);
    width: 15.54rem;
    height: 3.19rem;
}
.new-playlist {
    position: absolute;
    top: 46.63rem;
    left: 6.31rem;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 6.39rem;
    height: 1.79rem;
}
.home,
.menu,
.my-library {
    position: absolute;
    top: 7.85rem;
    left: 1.58rem;
    display: inline-block;
    width: 3.97rem;
    height: 2.39rem;
}
.home,
.my-library {
    top: 11.56rem;
    left: 4.5rem;
    width: 4.14rem;
}
.my-library {
    top: 16rem;
    width: 7.08rem;
}
.line-div {
    position: absolute;
    top: 9.05rem;
    left: 7.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 8.9rem;
    height: 0.03rem;
}
.line-div-2 {
    position: absolute;
    top: 23.16rem;
    left: 8.05rem;
    border-top: 0.4px solid var(--color-white);
    box-sizing: border-box;
    width: 7.9rem;
    height: 0.03rem;
}
.browse {
    position: absolute;
    top: 22rem;
    left: 1.56rem;
    display: inline-block;
    width: 5.01rem;
    height: 2.39rem;
}
.line-icon {
    position: absolute;
    top: 23.16rem;
    left: 8.06rem;
    width: 7.86rem;
    height: 0.03rem;
}
.artists {
    top: 25.81rem;
    left: 4.5rem;
    width: 4.32rem;
    height: 2.39rem;
}
.artists,
.create-your-own,
.no-playlist-now {
    position: absolute;
    display: inline-block;
}
.no-playlist-now {
    top: 40.54rem;
    left: 1.58rem;
    color: var(--color-snow);
    width: 10.71rem;
    height: 2.39rem;
}
.create-your-own {
    top: 42.93rem;
    width: 12.61rem;
}
.create-your-own,
.privacy-policy,
.triangle-user-aggrement {
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    height: 1.79rem;
}
.triangle-user-aggrement {
    position: absolute;
    top: 57.28rem;
    display: inline-block;
    width: 12.95rem;
}
.privacy-policy {
    top: 59.27rem;
    width: 7.08rem;
}
.albums,
.playlists,
.privacy-policy,
.triangle {
    position: absolute;
    display: inline-block;
}
.triangle {
    top: 61.26rem;
    left: 1.58rem;
    font-size: var(--font-size-base);
    color: var(--color-snow);
    width: 12.95rem;
    height: 1.79rem;
}
.albums,
.playlists {
    top: 30.19rem;
    left: 4.5rem;
    width: 5.35rem;
    height: 2.39rem;
}
.playlists {
    top: 35rem;
    width: 5.53rem;
}
.setting-child4,
.setting-child5 {
    position: absolute;
    top: 6.67rem;
    left: 19.18rem;
    border-radius: var(--br-8xs);
    background-color: #d9d9d9;
    width: 0.52rem;
    height: 56.8rem;
}
.setting-child5 {
    background-color: #888;
    height: 46.64rem;
}
.copyright-icon,
.medium-icons,
.music-library-icon {
    position: absolute;
    top: 11.44rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.copyright-icon,
.music-library-icon {
    top: 30.19rem;
}
.copyright-icon {
    top: 61.06rem;
    left: 1.58rem;
    width: 1.73rem;
    height: 1.99rem;
}
.facebook-f-icon,
.instagram-icon,
.music-library-icon1,
.playlist-icon {
    position: absolute;
    top: 16.02rem;
    left: 1.58rem;
    width: 2.38rem;
    height: 2.38rem;
    object-fit: cover;
}
.facebook-f-icon,
.instagram-icon,
.playlist-icon {
    top: 35rem;
    left: 1.56rem;
}
.facebook-f-icon,
.instagram-icon {
    top: 51.13rem;
    left: 2.5rem;
    width: 2.19rem;
    height: 2.19rem;
}
.facebook-f-icon {
    left: 5.44rem;
}
.ellipse-icon,
.gmail-logo-icon,
.musician-male-icon,
.twitter-icon,
.youtube-icon {
    position: absolute;
    top: 51.13rem;
    left: 8.37rem;
    width: 2.19rem;
    height: 2.19rem;
    object-fit: cover;
}
.ellipse-icon,
.gmail-logo-icon,
.musician-male-icon,
.youtube-icon {
    left: 11.31rem;
}
.ellipse-icon,
.gmail-logo-icon,
.musician-male-icon {
    left: 14.24rem;
}
.ellipse-icon,
.musician-male-icon {
    top: 25.81rem;
    left: 1.56rem;
    width: 2.38rem;
    height: 2.38rem;
}
.ellipse-icon {
    top: 1.44rem;
    left: 84.19rem;
    border-radius: 50%;
    width: 3.56rem;
    height: 3.56rem;
}
.setting {
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}
